.header__info{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header__info >img{
    object-fit: contain;
    height: 60px;
}
.header__right > h1{
    color: brown;
}

@media (max-width:940px){
    .header__info{
        padding-top: 20px;
    }
    .header__info >img{
        height: 40px;
    }
    .header__right > h1{
font-size: 18px;
    }
}